@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background: #b9ad69;
}

h2 {
  display: block;
  margin: auto auto auto auto;
  font-family: "Titillium Web", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 5px 5px 7px #000000
}
.line {
  border-top: 1px solid #b9ad69;
  height: 1px;
  margin: auto 0 auto;
  max-width: auto;
  box-shadow: 3px 1px 5px 1px #000000;
}
h3 {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight:500;
  margin: auto auto auto auto;
  padding: 20px;
  text-align: center;
}

img {
  display:block;
  max-width: 100%;
  margin: auto auto auto auto;
  border-radius: 1rem;
  box-shadow: 3px 1px 5px 1px #000000;
}

b {
  font-family: "DM Serif Display", sans-serif;
  font-size: auto;
  font-weight: 600;
}

p {
  text-align: justify;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: auto;
}
